jupyter
matplotlib
ipython
numpy
scipy
opencv-python
scikit-image
yattag
gym
pytest
cloudpickle
dotmap
line_profiler
scikit-fmm
dotmap
ipdb
imgaug
PyOpenGL
pyopengl-accelerate
pyassimp==4.1.3
ipython
scikit-image
yattag
h5py
